
.DS_Store
.idea/vcs.xml
.idea/modules.xml
.idea/Project_generation.iml
.idea/vcs.xml
.idea
*.xml
*.iml
translate_squad.ipynb
.ipynb_checkpoints/translate_squad-checkpoint.ipynb
.ipynb_checkpoints/test_natixis-checkpoint.ipynb
test_natixis.ipynb
*.pyc
