[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
torch = "*"
transformers = "==3.0.0"
scikit-learn = "*"
nltk = "*"
spacy = "*"
sklearn = "*"
nlgeval = "*"

[requires]
python_version = "3.8"
